---
import SocialLinks from "./SocialLinks.astro";
import { CONTACT_INFO, NAV_LINKS } from "../config";
---

<footer
  class="bg-neutral-950 text-neutral-400 py-12 px-8 border-t border-neutral-800 mt-24"
>
  <div
    class="max-w-6xl mx-auto flex flex-col lg:flex-row justify-between gap-12"
  >
    <!-- Brand -->
    <div>
      <h3 class="text-white text-xl font-semibold mb-2">GroverHQ</h3>
      <p class="text-neutral-400 max-w-sm">
        Digital Solutions for Modern Businesses — Web, Apps, Bots, Automation &
        AI.
      </p>
      <div class="mt-8 space-y-1 text-neutral-400 text-sm">
        <p>{CONTACT_INFO.address}</p>
        <p>{CONTACT_INFO.phone}</p>
        <p>{CONTACT_INFO.email}</p>
      </div>
    </div>

    <!-- Links + Social -->
    <div class="flex flex-col sm:flex-row gap-12">
      <!-- Company Links -->
      <div>
        <h4 class="text-white font-medium mb-3">Company</h4>
        <ul class="space-y-2">
          {
            NAV_LINKS.map((link) => (
              <li>
                <a href={link.href} class="hover:text-white transition">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Social Icons -->
      <div class="flex flex-col gap-4 mt-3">
        <SocialLinks size="md" variant="dark" />
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="w-full text-center mt-12 pt-6 border-t border-neutral-800 text-sm text-neutral-400"
  >
    © {new Date().getFullYear()} GroverHQ. All rights reserved.
  </div>
</footer>
